<div class="container text-center">
  <div class="row p-4">
    <h1>Marley Spoon Recipes</h1>
  </div>   

  <% @recipes.each do |recipe| %>
    <div class="row p-2">
      <div class="row justify-content-md-center p-3 border bg-light">
        <div class="col col-md-3 p-2">
          <%= image_tag(recipe[:photo], class: 'img-fluid') %>
        </div>
        <div class="col col-md-9 p-2">
          <div class="row p-4">
            <h4><%= recipe[:title] %></h4>
          </div>
          <div class="row p-5 justify-content-md-end">
            <%= link_to 'See more', recipe_path(id: recipe[:id], recipe: recipe), class: 'btn btn-outline-primary col-2' %>
          </div>
        </div>
      </div>   
    </div>   
  <% end %>
</div>
