<div class="container text-center">
  <div class="row p-4">
    <h1><%= @recipe[:title] %></h1>
  </div>   

    <div class="row p-2">
      <div class="row justify-content-md-center p-3 border bg-light">
        <div class="col col-md-5 p-2">
          <%= image_tag(@recipe[:photo], class: 'img-fluid') %>
        </div>
        <div class="col col-md-7 p-2">
          <div class="row p-2 justify-content-md-end">
            <% if @recipe[:tags].present? %>
              <% @recipe[:tags].each do |tag| %>
                <span class="badge bg-success col-2"><%= tag %></span>
              <% end %>
            <% end %>
          </div>
          <div class="row p-2">
            <h4><%= markdown(@recipe[:description]) %></h4>
          </div>
          <div class="row p-2">
            <% if @recipe[:chef].present? %>
              <h5>Chef <b><%= @recipe[:chef] %></b></h5>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row p-5">
        <%= link_to 'Back', root_path, class: 'btn btn-outline-primary col-2' %>
      </div>
    </div>   
</div>
